<h1>New Game</h1>
<% @start_time = Time.now.to_i %>

<ul class="list-inline">
  <% @grid.each do |letter| %>
    <li class="letter align-middle list-inline-item"><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :grid, @grid %>
  <%= hidden_field_tag :start_time, @start_time %>

  <p class="font-italic font-weight-light">What is the longest word you can find?</p>
  <div class="input-group mb-3">
    <input type="text" name="attempt" class="form-control" placeholder="Your longest word" id="attempt" aria-describedby="button-play">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit" id="button-play">Play</button>
    </div>
  </div>
</form>

<script>
  const items = document.querySelectorAll('.letter');
  const attempt = document.querySelector('#attempt')

  const toggleInactiveOnClick = (event) => {
    event.currentTarget.classList.toggle('inactive');
    const letter = event.currentTarget.innerHTML;
    if (event.currentTarget.classList.contains('inactive')) {
      attempt.value += letter;
    } else if (attempt.value.length === 1) {
      attempt.value = null;
    } else {
      attemptLetters = attempt.value.split("")
      for( var i = 0; i < attemptLetters.length-1; i++){
         if ( attemptLetters[i] === letter) {
           attemptLetters.splice(i, 1);
         }
        attempt.value = attemptLetters.join("");
      }
    }
  };

  items.forEach((item) => {
    item.addEventListener('click', toggleInactiveOnClick);
  });
</script>
